/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */


h2 {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding: 0 10px;
    text-shadow: 3px 3px 5px black;
}

.hlavni-recept h2 {
    font-size: 28px;
}

.recept-meta {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.doporucujeme {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: fit-content; 
    max-height: fit-content;
    padding: 0;
}

.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(images/salat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 2;
    min-height: 200px;
    border: 1px solid white;
}

.recepty {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 90px;
}

.recept {
    border: 1px solid white;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* chlebicek */
.recept2 {
    background-image: url(images/chlebicek.jpg);
    order: 1;
}

/* avokadove tacos */
.recept3{
    background-image: url(images/tacos.jpg);
    order: 2;
}

/* pita chleb */
.recept4 {
    background-image: url(images/cizrna.jpg);
    order: 1;
}

/* burger */
.recept5 {
    background-image: url(images/burger.jpg);
    order: 2;
}

/* pro TABLET */
@media screen and (min-width: 480px) {
    h2 {
        font-size: 22px;
    }

    .hlavni-recept h2 {
        font-size: 36px;
    }

    .hlavni-recept {
        min-height: 250px;
        flex-grow: 2;
    }

    .doporucujeme{
        max-width: fit-content;  
    }

    .recepty {
        flex-direction: row;
        flex-wrap: wrap; 
    }
        
    .recept {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 150px;
    }    

    .recept-meta {
        padding: 20px;
    }

    .recept3 {
        order: 1;
    }

}

/* pro PC */
@media screen and (min-width: 860px) {
    h2 {
        font-size: 28px;
    }

    .hlavni-recept h2 {
        font-size: 48px;
    }  

    .hlavni-recept {
        min-height: 400px;
    }

    .doporucujeme {
        flex-direction: row;
        max-width: fit-content;
        max-height: fit-content
    }

    .recept {
        min-height: 200px;
    }
}
